.form-container {
  width: 90%; /* Set the desired width */
  max-width: 600px; /* Set a maximum width */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 70px;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Media Query for Small Screens */
@media (max-width: 1200px) {
  .form-container {
    width: 90%;
    margin-top: 150px; /* Adjust the margin-top value for smaller screens */
  }
}

/* Style for the form header */
.form-header {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style for form labels */
.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for form inputs */
.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the Add User button */
.b1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #3f51b5;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 8px 16px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
}

.b1:hover {
  background-color: #f0464f;
}

.add-user-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
