<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mt-5 d-flex flex-column justify-content-center align-items-center">
      <h2>Welcome to Our Website..!!</h2>
    </div>
    <div class="col-md-6 mt-5 d-flex flex-column justify-content-center align-items-center">
      <form [formGroup]="loginForm" class="form-container" (ngSubmit)="login()">
        <h2>Login Here...</h2>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" id="email" formControlName="email" class="form-control">
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <small class="text-danger">Email is required.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" id="password" formControlName="password" class="form-control">
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <small class="text-danger">Password is required.</small>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>