.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
}

.table th {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

p.no-data-message {
  font-style: italic;
  color: #999;
  margin-top: 10px;
}

.b1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #3f51b5;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 8px 16px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
}

.b1:hover {
  background-color: #f0464f;
}

.b2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #f03f3f;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 8px 16px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
}

.b2:hover {
  background-color: #3f51b5;
}

.table-add-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-primary {
  margin-left: 10px;
}

.addButton {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #2420ec;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 8px 16px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
}

.addButton:hover {
  background-color: #797c8f;
}

.modal-header {
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
}

.modal-title {
  font-size: 1.25rem;
}

.btn-close {
  color: #fff;
}

.form-group {
  margin: 15px;
}

.form-control {
  width: 100%;
}

.modal-footer {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #dee2e6;
}

.btn-secondary {
  background-color: #ccc;
  color: #fff;
  border: none;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-secondary:hover {
  background-color: #999;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.b3 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background-color: #2443f0;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
}

.b1:hover {
  background-color: #f0464f;
}
